parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 2
			path: src/Helpers/DatabaseHelper.php

		-
			message: "#^Cannot access offset 'error' on mixed\\.$#"
			count: 2
			path: src/MySqlExplainException.php

		-
			message: "#^Cannot access offset 'message' on mixed\\.$#"
			count: 2
			path: src/MySqlExplainException.php

		-
			message: "#^Part \\$response\\['message'\\] \\(mixed\\) of encapsed string cannot be cast to string\\.$#"
			count: 2
			path: src/MySqlExplainException.php
